<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <left-menu></left-menu>
            </div>
            <div class="col-md-9">
                <h1>Api</h1>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>