<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <left-menu></left-menu>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="container container-fluid bg-light p-3 mb-4">
                    <div class="float-start">
                        <form class="row g-3">
                            <div class="col-auto">
                                <async-select-option v-model="selectedPropertyType"></async-select-option>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-secondary" :class="{disabled: isDisabled}" @click="onSubmit">
                                    <span v-if="!disabledSubmit">Submit</span>
                                    <div v-else>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Please wait...
                                    </div>
                                </button>
                                <button type="button" class="btn btn-outline-secondary" :class="{disabled: isDisabled}" @click="calculateScore">
                                    <span v-if="!disabledScore">Calculate Score</span>
                                    <div v-else>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Please wait...
                                    </div>
                                </button>
                            </div>
                            <div class="col-auto mt-4">
                                <label for="customRange2" class="form-label">Deviation {{deviation}} %</label>
                            </div>
                            <div class="col-auto mt-4">
                                <input type="range" class="form-range" min="0" max="100" id="customRange2" v-model="deviation">
                            </div>
                        </form>
                    </div>
                    <div class="text-end">
                        <button type="button" class="btn btn-outline-success" :class="{disabled: isDisabled}" @click="match">
                            <span v-if="!disabledMatch">Match</span>
                            <div v-else>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Please wait...
                            </div>
                        </button>
                    </div>
                </div>
                <div class="alert" :class="[isError? 'alert-danger': 'alert-success']" role="alert" v-if="message.length">
                    {{ message }}
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered caption-top">
                        <caption>Total Records ({{ totalRecords }})</caption>
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Search Profile</th>
                            <th scope="col">Score</th>
                            <th scope="col">Strict Matches Count</th>
                            <th scope="col">Loose Matches Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(record, index) in records" :key="index">
                                <th scope="row">{{ (index + 1) + page }}</th>
                                <td>{{ record.searchProfileId }}</td>
                                <td>{{ record.score }}</td>
                                <td>{{ record.strictMatchesCount }}</td>
                                <td>{{ record.looseMatchesCount }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <vue-pagination :current="currentPage" :pageCount="total" @change="onPageChange" v-show="showPagination"></vue-pagination>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            baseuri: '/api/matcher',
            uri: '/api/matcher',
            records: [],
            pagination: false,
            selectedPropertyType: '',
            message: '',
            isError: false,
            deviation: 25,
            disabledSubmit: false,
            disabledScore: false,
            disabledMatch: false,
        }
    },
    computed: {
        page() {
            return this.pagination && this.pagination.current? (this.pagination.current - 1) * 10: 0
        },
        currentPage() {
            return this.pagination && this.pagination.current? this.pagination.current: 0
        },
        total() {
            return this.pagination && this.pagination.pages? this.pagination.pages.length: 0
        },
        totalRecords() {
            return this.pagination? this.pagination.total: 0
        },
        showPagination() {
            return (this.pagination && this.pagination.total !== 0 )
        },
        isDisabled() {
            return (this.disabledMatch || this.disabledScore || this.disabledSubmit)
        }
    },
    methods: {
        getData(page = 1) {
            if(!this.selectedPropertyType) {
                this.showError('Please select search roperty type first.', true)
                return;
            }
            this.disabledSubmit = true
            let url = this.baseuri + '?pagination=true&order_by_score=DESC&order_by_strict_matches_count=DESC&page=' + page + '&id=' + this.selectedPropertyType
            this.axios.get(url).then((response) => {
                response = response.data
                this.records = response.data
                this.pagination = response.pagination
            }).catch((error) => {}).finally(() => {
                this.disabledSubmit = false
            })
        },
        onPageChange(val) {
            this.getData(val)
        },
        onSubmit() {
            this.getData()
        },
        showError(message, isError) {
            this.message = message
            this.isError = isError
            setTimeout(() => {
                this.message = ''
            }, 2000);
        },
        calculateScore() {
            if(!this.selectedPropertyType) {
                this.showError('Please select search roperty type first.', true)
                return;
            }
            this.disabledScore = true
            this.axios.post('/api/calculate-score', { id: this.selectedPropertyType, deviation: this.deviation }).then((response) => {
                this.showError('Score calculated successfully.', false)
                this.getData()
            }).catch((error) => {
                this.showError('Sorry we are unable to calculate score.', true)
            }).finally(() => {
                this.disabledScore = false
            })
        },
        match() {
            if(!this.selectedPropertyType) {
                this.showError('Please select search roperty type first.', true)
                return;
            }
            this.disabledMatch = true
            this.axios.get('/api/match/'+this.selectedPropertyType+'?deviation='+this.deviation).then((response) => {
                this.showError('Score calculated successfully.', false)
                response = response.data
                this.records = response.data
                this.pagination = {
                    total: response.data.length
                }
            }).catch((error) => {
                this.showError('Sorry we are unable to calculate score.', true)
            }).finally(() => {
                this.disabledMatch = false
            })
        },
    }
}
</script>