<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <left-menu></left-menu>
            </div>
            <div class="col-md-9 col-sm-12">
                 <div class="float-start">
                    <form class="row mt-3 ms-2">
                        <div class="col-auto">
                            <async-select-option v-model="selectedPropertyType"></async-select-option>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-secondary" :class="{disabled: isDisabled}" @click="onSubmit">
                                <span v-if="!disabledSubmit">Submit</span>
                                <div v-else>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Please wait...
                                </div>
                            </button>
                        </div>
                    </form>
                 </div>
                <div class="container container-fluid bg-light p-3 mb-4 text-end">
                    <button type="button" class="btn btn-success" @click="create">Create a Search Profile</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered caption-top">
                        <caption>Total Records ({{ totalRecords }})</caption>
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Property Type</th>
                            <th scope="col">Name</th>
                            <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(record, index) in records" :key="index">
                                <th scope="row">{{ (index + 1) + page }}</th>
                                <td>{{ record.propertyType }}</td>
                                <td>{{ record.name }}</td>
                                <td>
                                    <button type="button" class="btn btn-outline-secondary btn-sm" @click="edit(record, index)">EDIT</button>
                                    <button type="button" class="btn btn-danger btn-sm" @click="remove(record, index)">DELETE</button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <vue-pagination :current="currentPage" :pageCount="total" @change="onPageChange" v-show="showPagination"></vue-pagination>
                </div>
            </div>
        </div>
        <common-modal 
        :show="showModal" 
        :headerTitle="headerTitle"
        :uri="uri"
        :modes="['tree', 'code']"
        :data="selectedData"
        :isEdit="isEdit"
        :isEditIndex="isEditIndex"
        @onClose="showModal=false"
        @onSuccess="onCreate"
        ></common-modal>
    </div>
</template>
<script>
export default {
    data() {
        return {
            baseuri: '/api/search-profile',
            uri: '/api/search-profile',
            records: [],
            pagination: false,
            showModal: false,
            headerTitle: 'Create a Search Profile',
            propertyDataformat: {
                name: "",
                propertyType: '',
                searchFields: {
                    price: [],
                    area: [],
                    yearOfConstruction: [],
                    rooms: [],
                    parking: false,
                }
            },
            selectedData: null,
            isEdit: false,
            isEditIndex: 0,
            except: ['_id', 'id', 'created_at', 'updated_at'],
            selectedPropertyType: '',
            disabledSubmit: false
        }
    },
    mounted() {
        this.init()
    },
    computed: {
        page() {
            return this.pagination? (this.pagination.current - 1) * 100: 0
        },
        currentPage() {
            return this.pagination? this.pagination.current: 0
        },
        total() {
            return this.pagination? this.pagination.pages.length: 0
        },
        totalRecords() {
            return this.pagination? this.pagination.total: 0
        },
        showPagination() {
            return (this.pagination && this.pagination.total !== 0 )
        }
    },
    methods: {
        init() {
            this.getData()
        },
        getData(page = 1) {
            this.disabledSubmit = true
            let url = this.baseuri + '?pagination=true&order_by_created_at=DESC&page=' + page + '&filter_by_property_type=' + this.selectedPropertyType
            this.axios.get(url).then((response) => {
                response = response.data
                this.records = response.data
                this.pagination = response.pagination
            }).catch((error) => {}).finally(() => {
                this.disabledSubmit = false
            })
        },
        onSubmit() {
            this.getData()
        },
        onPageChange(val) {
            this.getData(val)
        },
        onCreate(data) {
            this.getData()
            this.showModal = false
        },
        create(){
            this.selectedData = JSON.parse(JSON.stringify(this.propertyDataformat))
            this.showModal = true
        },
        filter(data) {
            var tmp = {}
            for (const [key, value] of Object.entries(data)) {
                if(!this.except.includes(key)) {
                    tmp[key] = value
                }
            }
            return tmp
        },
        edit(data, index) {
            this.uri = this.baseuri + "/" + data._id['$oid']
            this.headerTitle = "Update Property"
            this.isEdit = true
            this.isEditIndex = index
            this.selectedData = this.filter(data)
            this.showModal = true
        },
        remove(data, index) {
            this.uri = this.baseuri + "/" + data._id['$oid']
            this.axios.delete(this.uri).then((response) => {
            }).catch((error) => {
            })
            this.records.splice(index, 1)
        }
    }
}
</script>