<template>
    <select class="form-select" aria-label="Default select example" v-model="selected">
        <option selected :value="''">Select Property Type</option>
        <option :value="record.propertyType" v-for="(record, index) in records" :key="index">{{ record.propertyType }}</option>
    </select>
</template>
<script>
export default {
    data() {
        return {
            uri: '/api/property',
            records: [],
            selected: ''
        }
    },
    mounted() {
        this.init()
    },
    methods: {
        init() {
            this.getData()
        },
        getData() {
            this.axios.get(this.uri).then((response) => {
                response = response.data
                this.records = response.data
            })
        },
    },
    watch: {
        selected(val) {
            this.$emit('input', val)
        }
    }
}
</script>