<template>
    <b-modal 
    id="modal-1" 
    :title="headerTitle" 
    ref="commonModal" 
    size="lg"
    @hidden="onHidden"
    @ok="ok"
    >
        <div class="alert" :class="[isError? 'alert-danger': 'alert-success']" role="alert" v-if="message.length">
            {{ message }}
        </div>
        <div style="min-height: 400px;">
            <vue-json-editor :value="json" :show-btns="false" :expandedOnStart="true" @json-change="onJsonChange" :modes="modes"
            @has-error="hasError"></vue-json-editor>
        </div>

        <template #modal-footer="{ ok, cancel }">
            <b-button size="md" variant="outline-secondary" @click="cancel()">
                Cancel
            </b-button>
            <b-button size="md" variant="primary" @click="ok()">
                Submit
            </b-button>
        </template>
    </b-modal>
</template>
<script>
import vueJsonEditor from 'vue-json-editor'
export default {
    props: {
        show: {
            type: Boolean,
            default: false
        },
        isEdit: {
            type: Boolean,
            default: false
        },
        isEditIndex: {
            type: Number,
            default: 0
        },
        headerTitle: {
            type: String,
            default: 'Modal'
        },
        uri: {
            type: String,
            default: '/'
        },
        mode: {
            type: String,
            default: "tree"
        },
        modes: {
            type: Array,
            default: function() {
                return ["tree", "code", "form", "text", "view"];
            }
        },
        data: {
            type: Object,
            default: {}
        }
    },
    components: {
      vueJsonEditor
    },
    data() {
        return {
            json: this.data,
            error: false,
            message: '',
            isError: false,
            tmpJson: this.data
        }
    },
    mounted() {
    },
    methods: {
        showModal() {
            this.$refs['commonModal'].show()
        },
        hideModal() {
            this.$refs['commonModal'].hide()
        },
        onHidden() {
            this.$emit('onClose')
        },
        onJsonChange (value) {
            this.tmpJson = value
            this.$emit('input', value)
        },
        hasError(error) {
            this.error = error
        },
        ok(e){
            e.preventDefault()
            if(this.isEdit) {
                this.onUpdate()
            }else {
                this.onCreate()
            }
        },
        onCreate() {
            let formData = this.tmpJson
            this.axios.post(this.uri, formData).then((response) => {
                this.$emit('onSuccess', response)
            }).catch((error) => {
                let key = Object.keys(error.response.data)
                this.message = error.response.data[key[0]][0]
                this.isError = true
                setTimeout(() => {
                    this.message = ''
                    this.isError = false
                }, 2000)
            })
        },
        onUpdate() {
            let formData = this.tmpJson
            this.axios.put(this.uri, formData).then((response) => {
                this.$emit('onSuccess', response)
            }).catch((error) => {
                let key = Object.keys(error.response.data)
                this.message = error.response.data[key[0]][0]
                this.isError = true
                setTimeout(() => {
                    this.message = ''
                    this.isError = false
                }, 2000)
            })
        }
    },
    watch: {
        show(val) {
            if(val) {
                this.showModal()
            }else {
                this.hideModal()
            }
        },
        data(val) {
            this.json = val
            this.tmpJson = val
        }
    }
}
</script>