<template>
  <div class="container bg-light mt-5 p-5 text-center">
      <figure>
          <blockquote class="blockquote">
              <h1>Matcher Microservice Case Study</h1>
          </blockquote>
          <figcaption class="blockquote-footer">
              Developed by <strong><cite title="Syed Muhammad Ali Kamal">Syed Muhammad Ali Kamal</cite></strong>
          </figcaption>
      </figure>
      <div class="mt-5">
        <ul class="list-inline">
          <li class="list-inline-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Bitbucket-blue-logomark-only.svg/1200px-Bitbucket-blue-logomark-only.svg.png" 
            width="22"
            height="22"
            />
          </li>
          <li class="list-inline-item">
            <p>
              <small> 
                <em>Download the source code from the bitbucket:</em>
                <a target="_blank" href="https://bitbucket.org/goodayz/matcher-microservice">
                https://bitbucket.org/goodayz/matcher-microservice
                </a>
              </small>
            </p>
          </li>
        </ul>
      </div>
  </div>
</template>
<script>
export default {
    data() {
        return {
        }
    },
}
</script>