<template>
    <div class="bg-light me-5" style="min-height: 500px;">
        <nav class="nav nav-pills nav-fill flex-column">
            <li class="nav-item" v-for="(name, index) in routeName" :key="index">
                <a class="nav-link py-3" :class="{active: active == index}" aria-current="page" href="javascript:void(0);" @click="onRoute(name, index)">{{ name }}</a>
            </li>
        </nav>
    </div>
</template>
<script>
export default {
    data() {
        return {
            routeName: {
                'property': 'Property',
                'search-profiles': 'Search Profiles',
                'matcher': 'Matcher'
            },
            active: ''
        }
    },
    mounted() {
        if(this.$route) {
            this.active = this.$route.name
        }
    },
    methods: {
        onRoute(name, index) {
            this.active = index
            if(index != this.$route.name) {
                this.$router.push({name: index})
            }
        }
    }
}
</script>