<template>
    <div class="mt-3">
        <v-pagination 
        v-model="currentPage" 
        :page-count="total" 
        :classes="bootstrapPaginationClasses"
        :labels="paginationAnchorTexts"></v-pagination>
    </div>
</template>
<script>
import vPagination from 'vue-plain-pagination'

export default {
    components: { vPagination },
    props: {
        current: {
            type: Number,
            default: 0
        },
        pageCount: {
            type: Number,
            default: 0
        },
    },
    data() {
        return {
            currentPage: 0,
            total: 0,
            bootstrapPaginationClasses: {
                ul: 'pagination',
                li: 'page-item',
                liActive: 'active',
                liDisable: 'disabled',
                button: 'page-link'  
            },
            paginationAnchorTexts: {
                first: 'First',
                prev: 'Previous',
                next: 'Next',
                last: 'Last'
            }
        }
    },
    mounted() {
    },
    watch: {
        current(val) {
            this.currentPage = val
        },
        pageCount(val) {
            this.total = val
        },
        currentPage(val) {
            if(this.current != val) {
                this.$emit('change', val)
            }
        }
    }
}
</script>